@{
    ViewData["Title"] = "Prácticas de Bootstrap";
}

<p>Hacer menu lateral desplegable con las practicas, y el contenido default de esta seccion
    cada seccion tendra su seccion codigo con teoria, y el otro cuadro a la derecha tendrá su implementación
</p>